.speech{
    font-style: normal;
    font-size: larger;
    color: black;

}
.direction{
    font-style:oblique;
    font-size: medium;
    color: black;
    background-color: cornsilk;


}
.direction:hover{
    background-color: blue;
    color: orange;
}
.name{
    color: black;
}
.MRSALVING{
    color: white;

}
.REGINA{
    color: brown;
}
.MANDERS{
    color: blueviolet;
}
.ENGSTRAND{
    color: aqua;
}

table { border: dashed 3px;
    overflow: auto;
    padding: 4px;
        margin: 20px;

}
td, th {border: solid 1px;
        text-align: center;
        padding: 4px;
        margin: auto;}
tr {background-color: blueviolet ;}
tr:nth-child(even) {background-color: goldenrod;}

.MANDERS:hover{
    text-shadow: 4px 2px 5px orange;
}

.ENGSTRAND:hover{
    text-shadow: 6px 3px 5px  darkred;
}

.REGINA:hover{
    text-shadow: 2px 5px 3px brown;
}

ul.navbar-horizontal {


    list-style-type: none;

    margin: 0;

    padding: 0;

 

  }

ul.navbar-horizontal li {

    float:left;

    color:#000;

    background-color:blanchedalmond;

  }


  ul.navbar-horizontal a {

    display:flex;

    color: black;

    padding:10px

  }

  ul.navbar-horizontal a:hover {  

    background-color: khaki;

    color:white;

  }





