.speech{
    font-style: normal;
    font-size: larger;
    color: black;

}
.direction{
    font-style:oblique;
    font-size: medium;
    color: black;
    background-color: cornsilk;


}
.direction:hover{
    background-color: blue;
    color: orange;
}
.MRSALVING{
    color: white;

}
.REGINA{
    color: brown;
}
.MANDERS{
    color: blueviolet;
}
.ENGSTRAND{
    color: aqua;
}

table { border: dashed 3px;
    overflow: auto;
    padding: 4px;
        margin: 20px;

}
td, th {border: solid 1px;
        text-align: center;
        padding: 4px;
        margin: auto;}
tr {background-color: blueviolet ;}
tr:nth-child(even) {background-color: goldenrod;}


