.speech{
    font-style: normal;
    font-size: larger;
    color: black;

}
.direction{
    font-style:oblique;
    font-size: medium;
    color: black;
    background-color: cornsilk;


}
.direction{
    background-color: blue;
    color: orange;
}
.MRSALVING{
    color: white;

}
.REGINA{
    color: brown;
}
.MANDERS{
    color: blueviolet;
}
.ENGSTRAND{
    color: aqua;
}
